@model Covisky.Models.Clases.Reserva

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
    <title>Información</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="jAlert/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .header {
            color: #f44336;
            font-size: 72px;
            font-family: Russo One;
            padding-top: 55px;
        }

        .header2 {
            color: #f44336;
            font-size: 35px;
            font-family: Russo One;
            padding-top: 15px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
        }

            a:hover {
                text-decoration: none;
                color: #bdbdbd;
            }

        #menu ul {
            list-style-type: none;
            text-align: center;
        }

        #menu li {
            display: inline;
            text-align: center;
            margin: 30px;
        }

        #menuop {
            font-family: Source Sans Pro;
            font-size: 18px;
            font-weight: bold;
        }

        .slogan {
            color: black;
            font-size: 26px;
            font-family: Russo One;
            float: right;
            position: relative;
            top: -50px;
            padding-right: 50px;
        }

        .tabContainer {
            padding: 20px;
            width: 100%;
            height: 350px;
        }

            .tabContainer .buttonContainer {
                height: 15%;
            }

                .tabContainer .buttonContainer button {
                    width: 25%;
                    height: 100%;
                    float: left;
                    border-radius: 10px;
                    outline: none;
                    cursor: pointer;
                    padding: 10px;
                    font-family: Source Sans Pro;
                    color: black;
                    font-size: 22px;
                    font-weight: bold;
                    background-color: #f44336;
                }

                    .tabContainer .buttonContainer button:hover {
                        background-color: #bdbdbd;
                    }

            .tabContainer .tabPanel {
                height: 100%;
                background-color: gray;
                color: black;
                box-sizing: border-box;
                font-family: 'Source Sans Pro';
                font-weight: bold;
                font-size: 18px;
                display: none;
                border: 2px solid;
            }

        #menuvuelo ul {
            list-style-type: none;
            text-align: left;
        }

        #menuvuelo li {
            display: inline;
            text-align: center;
            margin: 10px;
        }

        #menuopvuelo {
            font-family: Source Sans Pro;
            font-size: 18px;
            font-weight: bold;
        }

        .info {
            margin: 130px;
            font-weight: normal;
            font-size: 20px;
        }

        .info2 {
            margin: 10px;
            font-weight: normal;
            padding-left: 130px;
            font-size: 20px;
        }

        .info3 {
            font-weight: normal;
            padding-left: 210px;
            font-size: 20px;
        }

        .info4 {
            margin-right: 30px;
            font-weight: normal;
            position: relative;
            left: 90px;
        }

        .info5 {
            margin-right: 120px;
            font-weight: normal;
            position: relative;
            left: 180px;
        }

        .clase {
            list-style-type: none;
            position: relative;
            right: 180px;
            top: -50px;
        }

        .clase2 {
            list-style-type: none;
            position: relative;
            right: 90px;
            top: -125px;
        }

        .number {
            width: 30px;
            position: relative;
            left: 10px;
        }

        .number1 {
            width: 30px;
            position: relative;
            left: 25px;
        }

        .number2 {
            width: 30px;
            position: relative;
            left: 23px;
        }

        .boton {
            font-family: 'Source Sans Pro';
            font-size: 16px;
            font-weight: bold;
            width: 135px;
            height: 50px;
            background-color: #f44336;
            position: relative;
            top: 80px;
            left: 1300px;
        }

        body {
            margin: 0px !important;
            height: 850px;
        }

        label > input[type="radio"] {
            display: none;
        }

            label > input[type="radio"] + *::before {
                content: "";
                display: inline-block;
                vertical-align: bottom;
                width: 1rem;
                height: 1rem;
                margin-right: 0.3rem;
                border-radius: 50%;
                border-style: solid;
                border-width: 0.1rem;
                border-color: gray;
            }

            label > input[type="radio"]:checked + * {
                text-decoration: underline;
            }

                label > input[type="radio"]:checked + *::before {
                    background: radial-gradient(#333 0%, #333 40%, transparent 50%, transparent);
                    border-color: #333;
                }

            label > input[type="radio"] + * {
                display: inline-block;
                padding: 0.5rem 1rem;
            }

        .oferta {
            background-image: url(../../Imagen/continente1.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 550px 400px;
            padding-right: 10px;
        }

        .costo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            text-align: left;
            display: inline;
            margin: 25px;
        }

        .viajeoferta {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            padding-right: 145px;
        }

        .tipo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            color: #f44336;
            text-align: left;
        }

        .ir {
            font-family: 'Source Sans Pro';
            font-size: 14px;
            font-weight: bold;
            background-color: #f44336;
            width: 50px;
            height: 30px;
            float: right;
            margin-right: 25px;
            box-shadow: 2px 2px 10px #666;
        }

        .cajaoferta {
            border: 2px solid;
            width: 420px;
            height: 110px;
            margin: 10px;
            display: inline-block;
            text-align: center;
            box-shadow: 2px 2px 10px #666;
        }

        .titulo_info {
            padding-left: 90px;
            padding-top: 30px;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: bold;
        }

        .contenido_info {
            font-family: 'Source Sans Pro';
            font-size: 16px;
            max-width: 70%;
            height: 97px;
            padding-left: 38px;
        }

        .imagen {
            background-image: url(../../Imagen/pasaporte.jpg);
            background-position: 98%;
            background-size: 289px 193px;
            background-repeat: no-repeat;
            height: 215px;
        }

        .imagen1 {
            background-image: url(../../Imagen/turismo.jpg);
            background-position: 98%;
            background-size: 289px 193px;
            background-repeat: no-repeat;
            height: 215px;
        }

        .contacto {
            background-image: url(../../Imagen/continente1.jpg);
            background-position: right;
            background-size: 507px 296px;
            background-repeat: no-repeat;
            height: 300px;
            text-align: center;
        }

        .contacto1 {
            font-family: 'Source Sans Pro';
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

        .contacto2 {
            font-family: 'Russo One';
            font-size: 49px;
            color: #f44336;
        }

        .contacto3 {
            font-family: 'Source Sans Pro';
            font-size: 27px;
        }

        #social {
            font-size: 53px;
            margin: 15px;
        }

        .visa {
            font-family: 'Russo One';
            font-size: 18px;
            color: #f44336;
            padding-left: 90px;
        }

        .headerinfo {
            color: #f44336;
            font-size: 72px;
            font-family: Russo One;
            text-align: center;
            padding-left: 35%;
        }

        .botonvuelo {
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: bold;
            width: 135px;
            height: 50px;
            background-color: #f44336;
        }

        .infovuelo {
            font-family: 'Source Sans Pro';
            font-size: 14px;
            color: black;
        }

        .totalinfovuelo {
            font-family: 'Source Sans Pro';
            font-size: 30px;
            font-weight: bold;
        }

        .vuelo {
            font-family: 'Source Sans Pro';
            font-size: 18px;
        }

        .horavuelo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
        }
        .headerpasajero {
            color: #f44336;
            font-size: 26px;
            font-family: Russo One;
            padding-left: 68px;
            color: black;
        }
        .titulo {
            color: #f44336;
            font-size: 20px;
            font-family: 'Source Sans Pro';
            padding-left: 20px;
            font-weight: bold;
            color: black;
        }
        .personal{
            font-family: 'Source Sans Pro';
            font-size: 16px;
        }
        .texto{
            width: 400px;
        }
        .btncontinuar {
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: bold;
            width: 135px;
            height: 50px;
            background-color: #f44336;
            float: right;
            position: relative;
            right: 20px;
        }
    </style>
</head>
<body>
    <!--ENCABEZADO-->
    <div>
        <!--BARRA DE MENU-->
        <div id="menu" style="background-color: #f44336; border: solid; position:fixed; width: 670px; height: 30px; margin-top: 15px; margin-right: 15px; right:10px">
            <ul style="margin-top: 11px; width: max-content;">
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Index" style="position:relative; top:-11px;">
                        <i class="fa fa-home"></i>
                        Inicio
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/TravelOffer" style="position:relative; top:-11px;">
                        <i class="fa fa-tag"></i>
                        Oferta de Viajes
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Misviajes" style="position:relative; top:-11px;">
                        <i class="fa fa-briefcase"></i>
                        Mis Viajes
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Miles" style="position:relative; top:-11px;">
                        <i class="fa fa-location-arrow"></i>
                        Millas
                    </a>
                </li>
            </ul>
        </div>

        <!--LOGO Y TITULO-->
        <div>
            <a href="~/Reserva_Vuelo/Index">
                <img src="~/Imagen/logo.png" style="float:left; width:130px; height:130px">
                <header class="header">COVISKY</header>
            </a>
            <span class="slogan">FLY SAFE, FLY NOW,  FLY WITH COVISKY</span>
        </div>

        <br />
    </div>

    <!--TITULO INFORMACION-->
    <div >
        <header class="headerpasajero">Información Del Pasajero</header>
        <pre style="text-align:center; font-family:'Source Sans Pro'; font-size: 18px">Ingresa el primer nombre y el primer apellido tal y como aparecen en el pasaporte o documento de identidad de los pasajeros. También, ingrese su correo electrónico y 
número de teléfono para poder contactarle si hubiera alguna información nueva que proporcionarle.</pre>
    </div>
    <div>
        <!--INFO PERSONAL-->
        <div style=" margin-left: 75px; margin-right: 75px; border: 2px solid; background-color:#e0e0e0; height: 140px">
            <header class="titulo" style="background-color: white">Pasajero</header>
            <div>
                <label class="personal" style="font-weight: bold; padding-left: 20px;">Información Personal</label>
                <br />
                <div style="display:inline-block; padding-left: 20px">
                    <label>Apellido(s):*</label><br />
                    <input required type="text" id="apellido" name="apellido" placeholder="Ingrese Su Apellido(s)" class="texto" />
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="display:inline-block">
                    <label>Nombre(s):*</label><br />
                    <input required type="text" id="nombre" name="nombre" placeholder="Ingrese Su Nombre(s)" class="texto" />
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="display:inline-block">
                    <label>Fecha de Nacimiento:*</label><br />
                    <input required type="date" id="fechanac" name="fechanac" class="texto" />
                </div>
            </div>
        </div>
        <br />
        <!--INFO CONTACTO-->
        <div style=" margin-left: 75px; margin-right: 75px; border: 2px solid; background-color:#e0e0e0; height: 110px">
            <header class="titulo" style="background-color: white; color: #f44336">Información Sobre Contactos</header>
            <div>
                <div style="display:inline-block; padding-left: 20px">
                    <label>Correo Electrónico:*</label><br />
                    <input required type="text" id="correo" name="correo" placeholder="Ingrese Su Apellido(s)" class="texto" />
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="display:inline-block">
                    <label>Confirme Su Correo Electrónico:*</label><br />
                    <input required type="text" id="confirmarcorreo" name="confirmarcorreo" placeholder="Ingrese Su Nombre(s)" class="texto" />
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div style="display:inline-block">
                    <label>Teléfono:*</label><br />
                    <input required type="tel" id="telefono" name="telefono" placeholder="Ingrese Su Número de Teléfono" class="texto" />
                </div>
            </div>
        </div>
        <br />
        <!--ACEPTACION-->
        <div style=" margin-left: 75px; margin-right: 75px; border: 2px solid; background-color:#e0e0e0; height:220px">
            <header class="titulo" style="background-color: white;">Aceptación de términos y condiciones</header>
            <div>
                <label style="padding-left: 20px; font-family:'Source Sans Pro'; font-size:16px;">Por favor acepta para poder continuar con tu compra.</label><br />
                <pre style="padding-left: 20px; font-family:'Source Sans Pro'; font-size:16px;"><input required type="checkbox" id="leido" name="leido" value="Leido" />&nbsp;&nbsp;&nbsp;He leído y acepto el contrato de transporte, la Política General de Privacidad de clientes, viajeros y usuarios y las condiciones de manejo de mercancías peligrosas, la política de cancelación y 
   penalidades por cambio, el cobro de impuestos y cargos gubernamentales no incluidos en el valor del servicio, así como aquellos incluidos y las condiciones de acceso uso de este sitio web.*</pre>
                <label style="padding-left: 20px; font-family:'Source Sans Pro'; font-size:16px;"><input required type="checkbox" id="acepto" name="acepto" value="Acepto" />&nbsp;&nbsp;&nbsp;Acepto el uso de mis datos personales para recibir promociones, ofertas y novedades que COVISKY tiene para mí</label><br />
                <input type="button" id="btninfo" name="btninfo" value="CONTINUAR" class="btncontinuar" /><br />
            </div>
        </div>
    </div>

    <script src="~/Scripts/tabmenu.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>