@model Covisky.Models.Clases.ReservaIyV

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8" />
    <title>Elije tu Vuelo</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons -->
    <link href="css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link href="css/AdminLTE.css" rel="stylesheet" type="text/css" />
    <link href="jAlert/jquery.alerts.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        .header {
            color: #f44336;
            font-size: 72px;
            font-family: Russo One;
            padding-top: 55px;
        }

        .header2 {
            color: #f44336;
            font-size: 35px;
            font-family: Russo One;
            padding-top: 15px;
            text-align: center;
        }

        a {
            text-decoration: none;
            color: black;
        }

            a:hover {
                text-decoration: none;
                color: #bdbdbd;
            }

        #menu ul {
            list-style-type: none;
            text-align: center;
        }

        #menu li {
            display: inline;
            text-align: center;
            margin: 30px;
        }

        #menuop {
            font-family: Source Sans Pro;
            font-size: 18px;
            font-weight: bold;
        }

        .slogan {
            color: black;
            font-size: 26px;
            font-family: Russo One;
            float: right;
            position: relative;
            top: -50px;
            padding-right: 50px;
        }

        .tabContainer {
            padding: 20px;
            width: 100%;
            height: 350px;
        }

            .tabContainer .buttonContainer {
                height: 15%;
            }

                .tabContainer .buttonContainer button {
                    width: 25%;
                    height: 100%;
                    float: left;
                    border-radius: 10px;
                    outline: none;
                    cursor: pointer;
                    padding: 10px;
                    font-family: Source Sans Pro;
                    color: black;
                    font-size: 22px;
                    font-weight: bold;
                    background-color: #f44336;
                }

                    .tabContainer .buttonContainer button:hover {
                        background-color: #bdbdbd;
                    }

            .tabContainer .tabPanel {
                height: 100%;
                background-color: gray;
                color: black;
                box-sizing: border-box;
                font-family: 'Source Sans Pro';
                font-weight: bold;
                font-size: 18px;
                display: none;
                border: 2px solid;
            }

        #menuvuelo ul {
            list-style-type: none;
            text-align: left;
        }

        #menuvuelo li {
            display: inline;
            text-align: center;
            margin: 10px;
        }

        #menuopvuelo {
            font-family: Source Sans Pro;
            font-size: 18px;
            font-weight: bold;
        }

        .info {
            margin: 130px;
            font-weight: normal;
            font-size: 20px;
        }

        .info2 {
            margin: 10px;
            font-weight: normal;
            padding-left: 130px;
            font-size: 20px;
        }

        .info3 {
            font-weight: normal;
            padding-left: 210px;
            font-size: 20px;
        }

        .info4 {
            margin-right: 30px;
            font-weight: normal;
            position: relative;
            left: 90px;
        }

        .info5 {
            margin-right: 120px;
            font-weight: normal;
            position: relative;
            left: 180px;
        }

        .clase {
            list-style-type: none;
            position: relative;
            right: 180px;
            top: -50px;
        }

        .clase2 {
            list-style-type: none;
            position: relative;
            right: 90px;
            top: -125px;
        }

        .number {
            width: 30px;
            position: relative;
            left: 10px;
        }

        .number1 {
            width: 30px;
            position: relative;
            left: 25px;
        }

        .number2 {
            width: 30px;
            position: relative;
            left: 23px;
        }

        .boton {
            font-family: 'Source Sans Pro';
            font-size: 16px;
            font-weight: bold;
            width: 135px;
            height: 50px;
            background-color: #f44336;
            position: relative;
            top: 80px;
            left: 1300px;
        }

        body {
            margin: 0px !important;
        }

        html {
            height: 650px;
        }

        label > input[type="radio"] {
            display: none;
        }

            label > input[type="radio"] + *::before {
                content: "";
                display: inline-block;
                vertical-align: bottom;
                width: 1rem;
                height: 1rem;
                margin-right: 0.3rem;
                border-radius: 50%;
                border-style: solid;
                border-width: 0.1rem;
                border-color: gray;
            }

            label > input[type="radio"]:checked + * {
                text-decoration: underline;
            }

                label > input[type="radio"]:checked + *::before {
                    background: radial-gradient(#333 0%, #333 40%, transparent 50%, transparent);
                    border-color: #333;
                }

            label > input[type="radio"] + * {
                display: inline-block;
                padding: 0.5rem 1rem;
            }

        .oferta {
            background-image: url(../../Imagen/continente1.png);
            background-repeat: no-repeat;
            background-position: right bottom;
            background-size: 550px 400px;
            padding-right: 10px;
        }

        .costo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            text-align: left;
            display: inline;
            margin: 25px;
        }

        .viajeoferta {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            padding-right: 145px;
        }

        .tipo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
            font-weight: bold;
            color: #f44336;
            text-align: left;
        }

        .ir {
            font-family: 'Source Sans Pro';
            font-size: 14px;
            font-weight: bold;
            background-color: #f44336;
            width: 50px;
            height: 30px;
            float: right;
            margin-right: 25px;
            box-shadow: 2px 2px 10px #666;
        }

        .cajaoferta {
            border: 2px solid;
            width: 420px;
            height: 110px;
            margin: 10px;
            display: inline-block;
            text-align: center;
            box-shadow: 2px 2px 10px #666;
        }

        .titulo_info {
            padding-left: 90px;
            padding-top: 30px;
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: bold;
        }

        .contenido_info {
            font-family: 'Source Sans Pro';
            font-size: 16px;
            max-width: 70%;
            height: 97px;
            padding-left: 38px;
        }

        .imagen {
            background-image: url(../../Imagen/pasaporte.jpg);
            background-position: 98%;
            background-size: 289px 193px;
            background-repeat: no-repeat;
            height: 215px;
        }

        .imagen1 {
            background-image: url(../../Imagen/turismo.jpg);
            background-position: 98%;
            background-size: 289px 193px;
            background-repeat: no-repeat;
            height: 215px;
        }

        .contacto {
            background-image: url(../../Imagen/continente1.jpg);
            background-position: right;
            background-size: 507px 296px;
            background-repeat: no-repeat;
            height: 300px;
            text-align: center;
        }

        .contacto1 {
            font-family: 'Source Sans Pro';
            font-size: 25px;
            font-weight: bold;
            text-align: center;
        }

        .contacto2 {
            font-family: 'Russo One';
            font-size: 49px;
            color: #f44336;
        }

        .contacto3 {
            font-family: 'Source Sans Pro';
            font-size: 27px;
        }

        #social {
            font-size: 53px;
            margin: 15px;
        }

        .visa {
            font-family: 'Russo One';
            font-size: 18px;
            color: #f44336;
            padding-left: 90px;
        }

        .headerinfo {
            color: #f44336;
            font-size: 72px;
            font-family: Russo One;
            text-align: center;
            padding-left: 35%;
        }

        .botonvuelo {
            font-family: 'Source Sans Pro';
            font-size: 20px;
            font-weight: bold;
            width: 135px;
            height: 50px;
            background-color: #f44336;
        }

        .infovuelo {
            font-family: 'Source Sans Pro';
            font-size: 14px;
            color: black;
        }

        .totalinfovuelo {
            font-family: 'Source Sans Pro';
            font-size: 30px;
            font-weight: bold;
        }

        .vuelo {
            font-family: 'Source Sans Pro';
            font-size: 18px;
        }

        .horavuelo {
            font-family: 'Source Sans Pro';
            font-size: 22px;
        }
    </style>
</head>
<body>
    <!--ENCABEZADO-->
    <div>
        <!--BARRA DE MENU-->
        <div id="menu" style="background-color: #f44336; border: solid; position:fixed; width: 670px; height: 30px; margin-top: 15px; margin-right: 15px; right:10px">
            <ul style="margin-top: 11px; width: max-content;">
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Index" style="position:relative; top:-11px;">
                        <i class="fa fa-home"></i>
                        Inicio
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/TravelOffer" style="position:relative; top:-11px;">
                        <i class="fa fa-tag"></i>
                        Oferta de Viajes
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Misviajes" style="position:relative; top:-11px;">
                        <i class="fa fa-briefcase"></i>
                        Mis Viajes
                    </a>
                </li>
                <li id="menuop">
                    <a href="~/Reserva_Vuelo/Miles" style="position:relative; top:-11px;">
                        <i class="fa fa-location-arrow"></i>
                        Millas
                    </a>
                </li>
            </ul>
        </div>

        <!--LOGO Y TITULO-->
        <div>
            <a href="~/Reserva_Vuelo/Index">
                <img src="~/Imagen/logo.png" style="float:left; width:130px; height:130px">
                <header class="header">COVISKY</header>
            </a>
            <span class="slogan">FLY SAFE, FLY NOW,  FLY WITH COVISKY</span>
        </div>

        <br />
    </div>

    <!--ELEGIR VIAJE-->
    <form action="~/Reserva_Vuelo/Information" method="post">
        <div style=" margin-left: 25px; margin-right: 25px; border: 2px solid;">
            <header class="header2" style="color:black;">Recuerde que puede comprar con sus Puntos/Millas + Dinero</header>
            <div class="form-group" style="text-align:center;">
                <div style="display:inline-block;">
                    <label>Programa de Lealtad</label><br />
                    <input type="text" id="ProgramaLealtad" name="ProgramaLealtad" value="PROGRAMA UMG" readonly="readonly" />
                </div>

                <div style="display:inline-block">
                    <label>Viaje Corto</label><br />
                    <input type="text" id="viajecorto" name="viajecorto" value="0" />
                </div>

                <div style="display:inline-block">
                    <label>Viaje Intermedio</label><br />
                    <input type="text" id="viajeintermedio" name="viajeintermedio" value="0" />
                </div>

                <div style="display:inline-block">
                    <label>Viaje Largo</label><br />
                    <input type="text" id="viajelargo" name="viajelargo" value="0" />
                </div>
            </div>
        </div>
        <br />

        <div style=" margin-left: 300px; margin-right: 300px; border: 2px solid; height:30%; padding:25px;">
            <!--ELECCION VUELO IDA-->
            <div>
                <label class="vuelo">IDA:</label>
                &nbsp;&nbsp;&nbsp;
                <label id="origen" name="origen" class="vuelo">@Model.origeniv</label>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-chevron-right"></i>
                &nbsp;&nbsp;&nbsp;
                <label id="destino" name="destino" class="vuelo">@Model.destinoiv</label>
            </div>

            <div style="display:inline-block">
                <label class="vuelo">SALE</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="vuelo">LLEGA</label>
                <br />
                <label class="horavuelo" id="horasaleida" name="horasaleida">06:00</label>
                &nbsp;
                <i class="fa fa-arrow-right"></i>
                &nbsp;
                <label class="horavuelo" id="horallegaida" name="horallegaida">06:50</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="display:inline-block; text-align:center">
                <label class="vuelo">CLASE ECONÓMICA</label><br />
                <input type="radio" id="economicaida" name="costoida" value="500" class="btn btn-info" checked />
                <label>$500</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="display:inline-block; text-align:center">
                <label class="vuelo">CLASE EJECUTIVA</label><br />
                <input type="radio" id="ejecutivaida" name="costoida" value="800" class="btn btn-success" />
                <label>$800</label>
            </div>

            <br /><br />

            <!--ELECCION VUELO VUELTA-->
            <div>
                <label class="vuelo">VUELTA:</label>
                &nbsp;&nbsp;&nbsp;
                <label id="origen" name="origen" class="vuelo">@Model.destinoiv</label>
                &nbsp;&nbsp;&nbsp;
                <i class="fa fa-chevron-right"></i>
                &nbsp;&nbsp;&nbsp;
                <label id="destino" name="destino" class="vuelo">@Model.origeniv</label>
            </div>

            <div style="display:inline-block">
                <label class="vuelo">SALE</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="vuelo">LLEGA</label>
                <br />
                <label class="horavuelo" id="horasalevue" name="horasalevue">14:00</label>
                &nbsp;
                <i class="fa fa-arrow-right"></i>
                &nbsp;
                <label class="horavuelo" id="horasalevue" name="horasalevue">14:50</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="display:inline-block; text-align:center">
                <label class="vuelo">CLASE ECONÓMICA</label><br />
                <input type="radio" id="economicavue" name="costovuelta" value="600" class="btn btn-info" />
                <label>$600</label>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="display:inline-block; text-align:center">
                <label class="vuelo">CLASE EJECUTIVA</label><br />
                <input type="radio" id="ejecutivavue" name="costovuelta" value="900" class="btn btn-success" checked />
                <label>$900</label>
            </div>

            <!--COSTO TOTAL-->
            <div style="float:right; position:relative; top:-185px; padding-right:20px; text-align:center">
                <!--<label class="infovuelo">VALOR TOTAL:</label><br />-->
                <!--<label class="totalinfovuelo">USD 0.00</label><br />-->
                <!--<label class="infovuelo">Tarifa Base: 0.0</label><br />-->
                <!--<label class="infovuelo">Impuestos: 0.0</label><br />-->
                <!--<label class="infovuelo">Cargos: 0.0</label><br />-->
                <br /><br /><br /><br />
                <input type="submit" id="ejecutiva" name="ejecutiva" value="SOLICITAR" class="botonvuelo" /><br />
                <label class="infovuelo">Incluye Cargos e Impuestos</label><br />
            </div>
        </div>
    </form>

    <script src="~/Scripts/tabmenu.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>